// 
// admin.scss
//

.logo-img img {
	position: relative;
	top: -8px;
	height: 40px;
	margin-right: 3px;
}

.loginTrainer button {
	background-color: #f79956;
	color: ghostwhite;
}

.pipiinfo {
	margin-top: 5px;
	font-size: 0.6em;
}

.loginTrainer {

	h4 {
		color: darkgray;
		text-align: center;
	}

	.panel {			
		top: 40px;
	}
}

.error {
	color: red;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}

.fixedPosition {
  position: fixed;
    bottom: 50px;
}

.trainer-groups {

	.active {
		color: red; 
	}
}

.clickable {
	text-decoration: underline;
	color: black
}

.clickable:hover {
	font-weight: bold
}

.panel-heading h4 {
	text-align: center
}

.grayedout span {
	color:gray
}

.bold span {
	color:black;
	font-weight: bold
}

.trainer-group {
	.buttonTable {
		td {
			margin: 0;
			text-align: center;
		}
	}

	th {
      background-color:#232f3e;
      color:ghostwhite;
      text-decoration: underline;
    }

	th, td {
	    text-align: center;
	    margin: 0;
	}

    th:hover {
    	color: orange
    }	
}

.traineeLabels a {
	width: 75px;
	text-align: center;
}

.traineeLabels button {
	width: 75px;
	text-align: center;
}

.traineeLabelsDisplay a {
	width: 75px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}

.traineeLabelsDisplay button {
	width: 75px;
	text-align: center;
	margin-right: 5px;	
	margin-bottom: 5px;
}

.remarksList ul {
	list-style: none;
	text-align: left;
}

.remarksList .trainerName {
	font-weight: bold;
	margin-right: 2px;
}

.ownRemark span{
	text-decoration: underline;
	margin-right: 2px;
}

.ownRemark span:hover {
	font-weight: bold
}

.glyphicon-ok-circle {
	color: purple
}

.glyphicon-remove-circle {
	color: purple
}

.glyphicon-ban-circle {
	color: purple
}

.glyphicon-cutlery {
	color: purple
}

