// 
// cards.scss
//

.cards {

	#dateInput {
		position: relative;
		left: 3px; 
	}

	.panel {
		margin-top:10px;
	}

	.panel-heading {
		text-align: center;
		font-weight: 900;
	}

	small {
		position: relative;
		left: 50px;
		text-decoration: italic;
	}
	
	.error {
		color: red;
		font-weight: bold;
		text-align: center;
	}

	p {
		margin:5px;
		color: green;
	}

	.pullRight{
		float: right; 
	}

	table {
		width: 100%;
		text-align: center;
	}

	.foodCard {
		.btn {
			margin-bottom: 15px;
		}

		.checkBoxes {
			text-align: center;
		}
	}

	.healthCard {
		.btn {
			margin-top: 15px; 
		}
	}

	.sportCard {
		th {
			text-align: center;
		}
	}

	form {
			margin-top: 10px;
	}

}