.register {

	h4 {
		color: white;
		text-align: center;
	}

	.panel {			
		    top: 40px;
		    background-color: #2f726a;
	}

	#loginLink {
		margin-top: 3px; 
		a {
			color: white;
		}

		a:hover {
			color: yellow;
		}

		a:active {
			color: green;
		}
	}

	.error {
		color: red;
		font-weight: bold;
		text-align: center;
		font-size: 1.2em;
	}

	.sysMessage {
		margin-top: 35px;
		color: green;
		text-align: center;
		font-size: 1.3em;
	}
}
