// TraineeInfo.scss

.traineeInfo {

	.panel-heading {
		text-align: center
	}

	small {
		position: relative;
		left: 50px;
	}
	
	.traineeInfoBasic {

		.radio-inline{
			position: relative;
			left: 25px;
		}

	}
}