// TraineeInfo.scss

.traineeInfo {

	.panel {
		margin-top:10px;
	}

	.panel-heading {
		text-align: center;
		font-weight: 900;
	}

	small {
		position: relative;
		left: 50px;
		text-decoration: italic;
	}
	
	.traineeInfoBasic {

		.radio-inline{
			position: relative;
			left: 25px;
		}

	}

	.error {
		color: red;
		font-weight: bold;
		text-align: center;
		font-size: 1.2em;
	}

	p {
		margin:5px;
	}

}